@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/reset';
@import 'base/typography';
@import 'components/buttons';
@import 'components/cover';
@import 'components/hambuger';
@import 'layout/about';
@import 'layout/banner';
@import 'layout/navigation';
@import 'layout/projects';
@import 'pages/home-container';
@import 'themes/theme';


[data-theme='light'] {
    --ff: "Roboto",
        serif;
    --co-white: #eaeaeb;
    --co-black: #27292a;
}

[data-theme='dark'] {
    --ff: "Roboto",
        serif;
    --co-white: #222222;
    --co-black: #eaeaeb;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}