* {
    font-family: var(--ff);
}


.d1 {
    font-size: 10rem;
    font-weight: 1000;
}

.d2 {
    font-size: 2rem;
    font-weight: 500;
}

.p3 {
    font-weight: 500;
    font-size: 3rem;
}

.hh1 {
    font-size: 2rem;
    font-weight: 500;
}

.p1 {
    font-weight: 300;
    font-size: 1.6rem;
}

.p2 {
    font-weight: 300;
    font-size: 1.3rem;
}

.nav1 {
    font-weight: 100;
    font-size: 2rem;
}